### Lists
***

In [ ]:
student_list = [
    [1,2,3,4,5],
    ["Ram","Rani","Yash","Lalit","Priyadarshini"],
    5]

In [ ]:
print("Roll No.\t Name of Student")
print("-"*35)
for i in range(student_list[2]):
    print(student_list[0][i], "\t\t", student_list[1][i])

In [ ]:
student_list[-2][-1]

In [ ]:
cars=['Suzuki','Ford','Honda']
print(cars)

cars[-2]='Tata NEXON EV'
print(cars)

In [ ]:
cars='suzuki'
cars[0]='S'
#print(cars[0])

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(a[1:6:2])

In [ ]:
a=[]
print(type(a))
a

Methods and Functions with list

In [ ]:
#Concatenation
a=[1,2,3]
b=[4,5,6]
a+b

In [ ]:
print(a*5)

In [ ]:
zipped = list(zip(a,b))
print(zipped)
sumab = [sum(k) for k in zipped]
sumab

In [ ]:
slist = list(zip(student_list[0], student_list[1]))

for r, n in slist:
    print(r, n)

In [ ]:
len(a)
print(a)

In [ ]:
c=[]
sum = 0
for i in range(0,len(a)):
  sum += a[i]
  c.append(sum)

print(sum)

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a[::])
print(a[::-1])
print(a[-3::2])
print(a[-3:-1:])
print(a[-1:-8:-2])

In [ ]:
print(len([1,2,3,4,8,9]))
print(['Hello']*3)

In [ ]:
print(13 in [1,2,3])
for x in [1,2,3,4]:
  print(x)

In [ ]:
a=[0,1,2,3]

In [ ]:
print(dir(a))

In [ ]:
a.append(5)
a

In [ ]:
a.append("pankaj")
a

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a.append(6)

In [ ]:
a

In [ ]:
a.pop(4)
a

In [ ]:
a=[1,2,3,4,50,-3]
a.count('a')

In [ ]:
print(len(a))
print(max(a))
print(min(a))

In [ ]:
a

In [ ]:
a.insert(1,1000)

In [ ]:
a

In [ ]:
a.append(1000)

In [ ]:
a

In [ ]:
a.remove(1000)

In [ ]:
a

In [ ]:
list1=[123,'xyz',"zara",13.5]
list1.append(2022)

In [ ]:
list1.append(123)

In [ ]:
list1.count(123)

In [ ]:
list2=[2021,"AXES"]
list1.extend(list2)
list1

In [ ]:
list1.sort()

In [ ]:
list1=[10, 11,9,22]
list1.sort()
list1

In [ ]:
fruits =["banana","apple","kiwi"]
fruits.sort()
fruits

In [ ]:
fruits[1]="orange"

In [ ]:
fruits

In [ ]:
list1=[123, 'xyz', 'zara', 13.5, 2022, 123, 2021, 'KPMG']
list1.reverse()
list1

In [ ]:
x, y = 10, 20
print(x)
print(y)

In [ ]:
list1 , list2 = [1,2,3,4], [1,2]
print(list1)
print(list2)

Shallow Copy and Deep Copy

In [ ]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_list = old_list

new_list[2][2] = 9

print('Old List:', old_list)
print('ID of Old List:', id(old_list))

print('New List:', new_list)
print('ID of New List:', id(new_list))

Shallow Copy

A shallow copy creates a new object which stores the reference of the original elements.

In [ ]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

old_list[2][2] = 'a'

old_list.append([0,0,0])

new_list.append([1,1,1])

print("Old list:", old_list)
print('ID of New List:', id(old_list))
print("New list:", new_list)
print('ID of New List:', id(new_list))

Deep Copy

A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

***
# Tuples

In [ ]:
a=()
print(type(a))

In [ ]:
a=(1,2,3,"abc",12.4,12+3j)

In [ ]:
a[1]=5

In [ ]:
print(a[1])

In [ ]:
a

In [ ]:
print(a[::])

In [ ]:
print(a[::-1])

In [ ]:
a.append(5)

In [ ]:
dir(a)

In [ ]:
a=(1,2,3,4,[10,20,30],8,9)
a[4][2]=25
print(a)

In [ ]:
a[1]=30

In [ ]:
a[4].append(40)
a

In [ ]:
a[4].pop()
a

In [ ]:
tup1=(1,2,3,4,6,7)
print(len(tup1))
print(max(tup1))
print(min(tup1))

In [ ]:
X,Y=(4,9)
print(Y)

***
# Dictionaries

In [ ]:
a={}
print(type(a))

In [ ]:
dict1={"A":1,"B":2}
print(dict1)

In [ ]:
dict2={"A":1,"B":2,"A":10}    # will take the last value, if you have duplcate keys
print(dict2)

In [ ]:
dict2={"A":1,"B":2,"a":10}     #keys are case sensitive, A and a are considered as different keys
print(dict2)

In [ ]:
dict3 ={(1,2):1,"abc":20, 12.6:"A"}
print(dict3)

In [ ]:
dict3[12.6]

In [ ]:
dict4 = { "A":1,
         "B":2,
         "C":{"A":10,"B":20}
    }

In [ ]:
dict4["C"]["B"]

In [ ]:
dict4.keys()

In [ ]:
dict4.values()

In [ ]:
dict5={"A":1, "B":2, "C":3, "D":4, "E":5}

In [ ]:
print(dir(dict5))

In [ ]:
dict5.pop("C")

In [ ]:
dict5

In [ ]:
dict5.pop("Z","Key is not present")

In [ ]:
dict5.pop("A","Key is not present")

In [ ]:
dict5

In [ ]:
print(dict5.popitem())
print(dict5)

In [ ]:
dict5={"A":1, "B":2, "C":3, "D":4, "E":5}

In [ ]:
del dict5["D"]
dict5

In [ ]:
del dict5["D"]

In [ ]:
dict6 ={"Name": "Ram" ,"Age":7 , "Class" : "First" }
student_dict = {}
student_dict[1] = dict6
student_dict

In [ ]:
dict6 ={"Name": "Amit" ,"Age":8 , "Class" : "First" }
student_dict[2] = dict6
student_dict

In [ ]:
student_dict[2]['Name']

In [ ]:
dict6["Age"] =18
dict6["school1"] = "Baldwins school"

In [ ]:
dict6

In [ ]:
del dict6["Age"]

In [ ]:
dict6

In [ ]:
print(dict6["Age"])

In [ ]:
dict6

In [ ]:
dict6.clear()

In [ ]:
dict6

In [ ]:
del dict6

In [ ]:
dict6

In [ ]:
mydict = {
    "brand":"Ford",
    "model": "mustang",
    "year":"1964"
}
print(mydict)

In [ ]:
for x in mydict:
  print(x,'=>',mydict[x])

In [ ]:
dict1=mydict.copy()
dict1

In [ ]:
child1 = {
    "Name":"Puspendra",
    "doy" :2000
    }
child2 = {
    "Name":"Karthik",
    "doy" :1990
}
child3 = {
    "Name":"Sonal",
    "doy" :2001
}
cousins={
    "child1_K":child1,
    "child2_K":child2,
    "child3_K":child3

}

print(cousins)

***
# Sets

In [ ]:
fruits1={"Orange","mango","grapes","mango"}
fruits2 = set(("apple","banana","Cherry","apple"))
print(fruits2)
print(fruits1)

In [ ]:
a={"apple","banana","Cherry","apple"}
type(a)

In [ ]:
for x in fruits2:
  print(x)

In [ ]:
print("banana" in fruits2)

In [ ]:
print("Orange" not in fruits2)

In [ ]:
fruits1

In [ ]:
fruits2 = {'Cherry', 'apple', 'banana',"grapes"}
fruits2

In [ ]:
print(fruits1)
print(fruits2)
union_set = fruits1.union(fruits2)
union_set

In [ ]:
intersection_set = fruits1.intersection(fruits2)
intersection_set

In [ ]:
fruits2

In [ ]:
fruits2[1]="oranges"

In [ ]:
type(fruits2)

# Date & Time

In [ ]:
import time
ticks = time.time()
print("Number of ticks since Jan 1 1970, 12AM", ticks)

In [ ]:
import time
ticks = time.time()
print("Number of ticks since Jan 1 1970, 12AM", ticks)

In [ ]:
localtime = time.localtime(time.time())
print("Local Current time",localtime)

In [ ]:
localtime = time.asctime(time.localtime(time.time()))
print("Local Current time",localtime)

In [ ]:
t=(2022,2,8,15,27,22,4,39,1)
secs=time.mktime(t)
print("Seconds",secs)
print("Formatted time",time.asctime(time.localtime(secs)))

In [ ]:
import calendar
cal = calendar.month(2022,2)
print(cal)

In [ ]:
print(calendar.calendar(2022))

In [ ]:
calendar.firstweekday()

In [ ]:
calendar.setfirstweekday(0)

In [ ]:
calendar.isleap(2024)

In [ ]:
import datetime

# get the current date and time
now = datetime.datetime.now()

print(now)

In [ ]:
import datetime

# get current date
current_date = datetime.date.today()

print(current_date)

In [ ]:
print(dir(datetime))

In [ ]:
import datetime

d = datetime.date(2022, 12, 25)
print(d)

In [ ]:
# today() to get current date
todays_date = datetime.date.today()

print("Today's date =", todays_date)

A Unix timestamp is the number of seconds between a particular date and January 1, 1970 at UTC. You can convert a timestamp to date using the fromtimestamp() method.

In [ ]:
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)

In [ ]:
from datetime import datetime

# current date and time
now = datetime.now()

# convert from datetime to timestamp
ts = datetime.timestamp(now)

print("Timestamp =", ts)

In [ ]:
# date object of today's date
today = datetime.date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

In [ ]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print(a)

# time(hour, minute and second)
b = time(11, 34, 56)
print(b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print(c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print(d)

In [ ]:
a = time(11, 34, 56)

print("Hour =", a.hour)
print("Minute =", a.minute)
print("Second =", a.second)
print("Microsecond =", a.microsecond)

In [ ]:
from datetime import datetime

# datetime(year, month, day)
a = datetime(2022, 12, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b)

In [ ]:
print("Year =", a.year)
print("Month =", a.month)
print("Hour =", a.hour)
print("Minute =", a.minute)
print("Timestamp =", a.timestamp())

In [ ]:
from datetime import datetime, date

# using date()
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)

t3 = t1 - t2

print("t3 =", t3)

# using datetime()
t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Type of t3 =", type(t3)) 
print("Type of t6 =", type(t6))

In [ ]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

https://www.programiz.com/python-programming/datetime/strftime

In [ ]:
from datetime import datetime

date_string = "25 December, 2022"
print("date_string =", date_string)

# use strptime() to create date object
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)

In [ ]:
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

# Functions

In [ ]:
#Function Defnition

def printstr(str):
  "This function prints the string the passed into the function"
  print(str)

  return

In [ ]:
#Function call
printstr("Welcome to the Concept of Functions")

In [ ]:
print(printstr.__doc__)

In [ ]:
import math
print(math.__doc__)
print(math.sqrt.__doc__)

In [ ]:
x = 6
print(x)

def fun(x):
    x = 10
    print(x)
    return x

x = fun(x)

print(x)

In [ ]:
number1 =15
number2 =25

def multiply_and_add():
  global number1,number2
  number1 = number1*10
  number2 = number2*10
  print(f"Numbers inside the fun {number1} and {number2}")
  return number1+number2

sum=multiply_and_add()
print(sum)
print(number1)
print(number2)

In [ ]:
def changelist(mylist):
  
  mylist[0]=100
  #mylist.append([40,50])
  print("values inside the function",mylist)
  return


mylist=[10,20,30]
print("values Before passing to  the function",mylist)
changelist(mylist)
print("values After passing to  the function",mylist)

Arguments


*   Required Argument
*   List item

In [ ]:
#Required Argument
def printstr(str):
  print(str)
  return

printstr(str="Hello")

In [ ]:
def info(name,age):
  print("Name",name)
  print("age",age)
  return

info("Raju", "Yadav")

In [ ]:
info(35,"raju")

Default Argument

In [ ]:
def info1(name,age=35):
  print("Name",name)
  print("Age",age)
  return

info1(name="Kumar",age=25)

In [ ]:
info1(name="Kruthi")

In [ ]:
print(1,2,3)

Variable length Argument

In [ ]:
def mysum(*args):
  result=0
  for x in args:
    result += x
  return result


print(mysum(1,2))
print(mysum(1,2,4,5))

In [ ]:
def total(a=5, *numbers, **phonebook):
    print('a', a)

    #iterate through all the items in tuple
    for single_item in numbers:
        print('single_item', single_item)

    #iterate through all the items in dictionary    
    for first_part, second_part in phonebook.items():
        print(first_part,second_part)

total(10,1,2,3,Jack=1123,John=2231,Inge=1560)

In [ ]:
def cube(y):
  return y*y*y

lambda_cube = lambda y: y*y*y

print(cube(5))
print(lambda_cube(5))

Retrun Statement

In [ ]:
def maximum(x, y):
    if x > y:
        return x
    elif x == y:
        return 'The numbers are equal'
    else:
        return y

print(maximum(2, 1))

# Input Output

In [ ]:
str=input("enter your Name: ")

In [ ]:
str

In [ ]:
n1 = int(input("enter your number 1: "))
n2 = int(input("enter your number 2: "))
print(n1+n2)

In [ ]:
x,y=input("Enter the num of boys and girls in the class").split()
print("Number of boys",x)
print("Number of girls",y)
type(x)
type(y)

In [ ]:
X_int=int(x)
marks = 1000
avg = marks/X_int
avg

In [ ]:
x

In [ ]:
a=7
b=10
print(a,b)

In [ ]:
print("Male","Female",sep='  ')

In [ ]:
print("09","02","2022",sep='/')

In [ ]:
print('{0} {2} {1}'.format('python','course','programming'))

In [ ]:
number = 45.2365
print('%d %s %.3f' % (number,number,number))

# File Handling

In [ ]:
#Write to the file
file =open("Test.txt","w")
file.write("Welcome to Python Training on behalf of cloudthat")
file.close()

In [ ]:
#Read to the file
file=open("Test.txt",'r')
print(file.read())
file.close()

In [ ]:
file =open("Test.txt","a")
file.write("\n Append the next line to the file")
file.close()

In [ ]:
import os
os.rename("Test.txt", "Test2.txt")

In [ ]:
os.remove("Test2.txt")

In [ ]:
os.mkdir("test_folder")

In [ ]:
os.getcwd()

In [ ]:
os.chdir("test_folder")

In [ ]:
os.getcwd()

In [ ]:
os.chdir("../")

In [ ]:
os.getcwd()

In [ ]:
os.rmdir("test_folder")

# Modules

In [ ]:
def print_func(par):
  print ("Hello ", par)
  return

print_func("Nikhil")
print_func("Vyshnavi")

In [ ]:
fun = """def print_func(par):
  print ("Hello ", par)
  return"""

In [ ]:
file = open("name_print.py","w")
file.write(fun)
file.close()

In [ ]:
import name_print

In [ ]:
name_print.print_func("Anchal")

In [ ]:
import math
print(dir(name_print))

# Exception Handling

In [ ]:
i=0
while True:
  print("Hello world")
  if (i==10):
    break
  i +=1

#Exception Handling

In [ ]:
4 + demo*3

In [ ]:
10/0

In [ ]:
'2' + '3'

In [ ]:
x=int(input("enter the number:"))
y=10/x
print(y)

In [ ]:
while True:
  try:
    x=int(input("enter the number:"))
    y=10/x
    print(y)
    break
  except ZeroDivisionError:
    print("enter a valid number greater than 0")

In [1]:
try:
    aa=bb
except ZeroDivisionError:
    print("Error: ZeroDivisionError")
except:
    print("Unkown Error")

Unkown Error

In [ ]:
bb=10

In [2]:
try:
  aa=bb
except NameError:
  print("the user has not defined the variable bb")

the user has not defined the variable bb

In [3]:
aa

NameError: name 'aa' is not defined

In [4]:
x=1
y='2'
z=x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
try:
  x=1
  y='2'
  z=y+x
except TypeError as e:
  print("Enter a valid integer:", e)

Enter a valid integer: can only concatenate str (not "int") to str

In [12]:
try:
  x=int(input("enter the number "))
  y=20/x
except ZeroDivisionError as e:
  print("Enter number greater than 0: ", e)
else:
  print("quotient is",y)
finally:
  print("the execution is done")

Enter number greater than 0:  division by zero
the execution is done

In [ ]:
x=int(input("enter the number "))
y=20/x

In [ ]:
try:
  x=int(input("Enter the number"))
  y=20/x
except TypeError:
  print("Enter a valid Integer in TypeError")
except ValueError:
  print("Enter a valid Integer in ValueError")
except ZeroDivisionError:
  print("Enter a valid integer greater than 0")

In [ ]:
try:
    print('Try Block')
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("Else Block")
    print("Division = ", z)
finally:
    print("Finally Block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

In [ ]:
try:
  x=1/0
except Exception as ex:
  print(ex)

In [ ]:
x=1/0

In [ ]:
def addToStudentList(slist, mark):
    if type(slist) == list:
        if mark >= 0:
            slist.append(mark)
        else:
            raise Exception("Enter positive marks only")
    else:
        raise Exception("First value must be s type of list")

slist = 10
addToStudentList(slist, 100)

In [ ]:
slist = 10

In [ ]:
addToStudentList(slist, 100)

In [ ]:
slist