### Variables

In [ ]:
X=1
Y=2.2
Z="STRATACENT"
A='2'

In [ ]:
print("Datatype of X",type(X))
print("Datatype of Y",type(Y))
print("Datatype of Z",type(Z))
print("Datatype of A",type(A))

In [ ]:
X=2
Y=4
X+Y
X-Y

In [ ]:
X="Python"
Y="Training"
X+Y

In [ ]:
a,b,c = 1, "india", 1.5
print("a:",a)
print("Dtype of b", type(b))
print(b)

In [ ]:
X='Welcome'
Y=3
X*Y

In [ ]:
X="cloudthat"
print(X[:5])

In [ ]:
X=1.1
Y=2
Z=-23.2
print("Dataype of X",type(X))
print("Dataype of X",type(Y))
print("Dataype of X",type(Z))

In [ ]:
X="Cloudthat"
Y="KPMG"
print(X+Y)
print(X + ' & ' + Y)

In [ ]:
print(Y*2)

In [ ]:
Z=Y[1]+Y[3]
print(Z)

In [ ]:
X.capitalize()

In [ ]:
X=5
Y=10
print(X==Y)

In [ ]:
print(X<Y)

In [ ]:
X=5
Y=2
Z=(X>Y)
if Z:
  print("X is greater than Y")
else:
  print("X is not greater than Y")

##### Rules for Naming Python Variables
Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_). 

For example:

<pre>my_name
current_salary</pre>

***
# Operators

### Arithmetic Operator

In [ ]:
X=5
Y=2
print("Addtion",X+Y)
print("Multiplication",X*Y)
print("Modulus",X%Y) #Remainder
print("Division",X/Y)
print("Floor Division ",X//Y) #quotient
print("Exponent",X**Y)

In [ ]:
X='5'
Y='2'
print(X+Y)

In [ ]:
X=50
Y='-'
print(X*Y)

In [ ]:
X=25
Y=15
X += Y
print(X)

In [ ]:
X=20
Y=20
print(X==Y)
print(X!=Y)
print(X>Y)
print(X<Y)
print(X>=Y)
print(X<=Y)

### Identity Operator

In [ ]:
a=20
b=30
c=a
print(a is b)
print(a is not b)
print(c is a)
print(id(a))
print(id(b))
print(id(c))

### Logical operator

In [ ]:
a=10
print(a>2 and a>15)
print(a>2 and a<15)
print(a>2 or a>15)

### Bitwise operator

In [ ]:
a=5
b=21
c=a | b
print(c)

### Membership operator

In [ ]:
a=[1,2,3,4,5]
print(20 in a)
print(20 not in a)
print(2 not in a)

In [ ]:
x = "print"
'n' in x

In [ ]:
str="helloworld"
print('w' in str)
print("W" in str)
print("O" not in str)
print("hello " in str)

String Comparison Operator

In [ ]:
string_comp1="hello" 
string_comp2="hello,world" 
string_comp3="hello,world" 
string_comp4="world" 
print(string_comp1==string_comp4) 
print(string_comp2==string_comp3) 
print(string_comp1!=string_comp4) 
print(string_comp2!=string_comp3)

In [ ]:
#Membership Operator “in” & “not in” 
string_mem="helloworld" 
print("w" in string_mem) 
print("W" in string_mem) 
print("t" in string_mem) 
print("t" not in string_mem) 
print("hello" in string_mem) 
print("Hello" in string_mem) 
print("hello" not in string_mem)

In [ ]:
#Escape Sequence Operator 
string = "Hello world I am from \"India\"" 
print(string) 
 
#String Formatting Operator “%.” 
name = "india" 
age = 19 
marks = 20.56 

string_for1 = 'Hey %s' % (name) 
print(string_for1) 

string_for2 = 'My age is %d' % (age) 
print(string_for2) 

string_for3= 'Hey %s, my age is %d' % (name, age) 
print(string_for3) 


string_for3= 'Hey %s, my subject mark is %f' % (name, marks) 
print(string_for3)

In [ ]:
string_for3= 'Hey {}, my subject mark is {}'.format(name, marks) 
print(string_for3)

In [ ]:
string="Hello world I am from \"India\" and \n I can speak hindi" 
print(string)

### Namespace

In [ ]:
# global_var is in the global namespace
global_var = 10

def outer_function():
    #  outer_var is in the local namespace 
    outer_var = 20

    def inner_function():
        #  inner_var is in the nested local namespace 
        inner_var = 30

        print(inner_var)

    print(outer_var)

    inner_function()

# print the value of the global variable
print(global_var)

# call the outer function and print local and nested local variables
outer_function()

In [ ]:
def outer():
    # global string
    string = "Outer_var" 
    def inner():
        # Overwriting value of a variable string
        string= "Outer_var changed in inner function" 
        print("inner function:", string)
 
    inner()
    print("outer function:", string)
 
outer()

The nonlocal keyword is used to work with variables inside nested functions, where the variable should not belong to the inner function.

In [ ]:
def outer():
    string = "Outer_var" # Local Variable
    def inner():
        #declaring a non local variable
        nonlocal string 
        # Overwriting value of a variable string
        string= "Outer_var changed in inner function" 
        print("inner function:", string)
 
    inner()
    print("outer function:", string)
 
outer()

#### Python Type Conversion

1. Implicit
2. Explicit

In [ ]:
weight = 23
height = 4.23

bmi = weight/(height/100)**2

# display new value and resulting data type
print("Value:",bmi)
print("Data Type:",type(bmi))

In [ ]:
x = '10'
y = 20

print(type(x))
print(type(y))

x = int(x)

print(type(x))
print(type(y))

print(x+y)

#### Python I/O and Import

In [ ]:
x = 10
print(x)

In [ ]:
price = 45.6
units = 10
name = 'Pen'

print('Produt {0} price is {1} Rs.'.format(name, price))
print('Total cost for {u} {n} is {tot}'.format(n=name, u=units, tot=units*price))

In [ ]:
print('a', end=' ')
print('b', end=' ')
print('c')

Input

In [ ]:
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

### Decision making

If Condition

In [ ]:
a=330
b=150
c = 200

if b>a:
  print("b is greater than a")
  print("Value of b is: ", b)
elif c > a:
  print("a is greater than b")  
  print("Value of a is: ", a)

print("outside of the if statement ")

In [ ]:
a=330
b=150
if b>a:
  print("b is greater than a")

In [ ]:
a=150
b=150
if (b>a):
  print("b is greater than a")
elif (b==a):
  print("b is equal to a")
else:
  print("b is less than a")

In [ ]:
X=21
if (X>10):
  print("X is greater than 10")
  if (X>20):
    print("X is greater than 20 also")
  else:
    print("X is in between 10 and 20")
else:
  print("X is less than/equal to 10")

In [ ]:
a=20
b=10
print("a:",a) if a>b else print("b:", b)

In [ ]:
x = 20
x%2

In [ ]:
X=20
print("odd") if (X%2) else print("even")

### Loops

In [ ]:
print("printing the numbers from 1 to 10")
a=1
while (a<=10):
  print(a)
  a += 1

In [ ]:
i=1
while (i<6):
  print(i)
  i=i+1
  if (i==3):
    break
  print("doing some operation")

print("Out of loop")

In [ ]:
number = 23
running = True

while running:
    guess = int(input('Enter an integer : '))

    if guess == number:
        print('Congratulations, you guessed it.')
        # this causes the while loop to stop
        running = False
    elif guess < number:
        print('No, it is a little higher than that.')
    else:
        print('No, it is a little lower than that.')
else:
    print('The while loop is over.')
    # Do anything else you want to do here

In [ ]:
for letter in 'python':
  if letter == 'h':
    pass
    print(" This block is pass block")
  print("current letter ", letter)

print("Out of loop")

Break

In [ ]:
string="PYTHON"
for char in string:
  if char !='H':
    print(char, end='\n\n')
  else:
    break

In [ ]:
fruits=["banana", "orange","apple"]
for i in fruits:
  print(i)
  print(i.upper())

With the continue statement we can stop the current iteration of the loop, and continue with the next

In [50]:
adjectives=["red","big","tasty"]
fruits=["apple","banana","cherry","orange"]
for i in adjectives:
  for y in fruits:
    if y == "banana":
      continue
    print(i,y)

red apple
red cherry
red orange
big apple
big cherry
big orange
tasty apple
tasty cherry
tasty orange

In [ ]:
x = range(10,41,2)
print("printing the numbers:")
for i in x:
  print(i)

In [ ]:
for i in range(2,10):
  print(i)

### Function

In-built and User defined

Mathemtical functions

In [ ]:
import math

print("abs(-45):", abs(-45))
print("abs(100.12)",abs(100.12))

In [ ]:
print("ceil(-45.17))",math.ceil(-45.17))
print("ceil(45.17))",math.ceil(45.17))
print("ceil(pi)",math.ceil(math.pi))

In [ ]:
math.exp(2)

In [ ]:
math.exp(-2)

In [ ]:
math.fabs(100.2)

In [ ]:
print("max(80,100,1000):", max(80,100,1000))
print("max(-80,-100,-1000):", min(-80,-100,-1000))

In [ ]:
print(math.floor(4.2))
print(math.ceil(4.2))

In [ ]:
print(math.pow(100,2))
print(math.pow(100,-2))

### Random Number functions

In [ ]:
import random
print("choice[1,2,3,5,9]", random.choice([1,2,3,5,9]))

id = ''

for i in range(32):
    c = random.choice("abcdefghijklmnopqrstuvwxyz123456789")
    id += c

print(id)

In [ ]:
print("rnadom range (100,1000,2)", random.randrange(101,1000,2))

In [ ]:
#create a random number between 100 and 1000 which are divsible by 6

In [ ]:
random.seed(20)
print("First random Number ", random.random())
print("Second random Number ", random.random())

In [ ]:
list= [20,16,10,23,5]
print(list)
random.shuffle(list)
print(list)

In [ ]:
print(random.uniform(5,20))

### Trignometric Functions

In [ ]:
import math
print("acos(-1)",math.acos(-1))
print("cos(0)",math.cos(0))
print("hypotenuse(3,4)",math.hypot(3,4))
print("degrees(pi/4)",math.degrees(math.pi/4))
print("radian(45)",math.radians(45))

In [ ]:
sum_even = sum([k for k in range(11) if k%2==0])
print(sum_even)

### Python Strings

In [ ]:
var1 ="Hello World"
var2 = "python Programmiing"
print("var1[0]:", var1[0])
print("var2[3:12] :",var2[3:12])
print(var2[-8:])
print(var2[-8:-12:-1])

In [ ]:
print("Updating string",var1[:6]+'students')

In [ ]:
str = "this is a string example"
print(str.capitalize())

In [ ]:
str = "this is a string example"
sub = ' '
print(str.count(sub))

In [ ]:
suffix="is"
print(str.endswith(suffix,2,4))
print(str.endswith(suffix,2,9))

In [ ]:
str1="this is string example"
str2="is"
print(str1.find(str2))
print(str1.index(str2))

#print(str1.find(str2,40))
#print(str1.index(str2,40))

In [ ]:
str1="thisis2022"
print(str1.isalnum())
str2="This is 2022"
print(str2.isalnum())

In [ ]:
str1="thisis2022"
print(str1.isalpha())
str2="Thisis"
print(str2.isalpha())

In [ ]:
str = "123456";  # Only digit in this string
print (str.isdigit())
str = "this is string example....wow!!!"
print (str.isdigit())

str = "THIS is string example....wow!!!"
print (str.islower())
str = "this is string example....wow!!!"
print (str.islower())

str = "       "; 
print (str.isspace())
str = "This is string example....wow!!!"
print (str.isspace())

In [ ]:
str = "this is string example....wow!!!"
print ("Length of the string: ", len(str))

str = "THIS IS STRING EXAMPLE....WOW!!!"
print (str.lower())


str = "     this is string example....wow!!!     "
print (str.lstrip())
str = "88888888this is string example....wow!!!8888888"
print (str.lstrip('8'))